@media screen and (max-width: 1330px){
    .btn button{
       
        float: left;
        
    }
    .btn{
        height: 5vh;
    }
    .semain {
        width: auto;
        padding-left: 100px;
    }
}
/* @media screen and (max-width: 1100px) {
    .slidebar {
        width: 100px;
    }

    .slidebar nav {
        padding: 30px;
        margin: 0px;
    }

    .slidebar nav li {
        list-style: none;
        font-size: 20px;
        padding: 20px 10px;
        margin-top: 10px;
    }
} */

@media screen and (max-width: 1115px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .slidebar {
        width: auto;
        height: auto
    }

    .slidebar ul {
        display: flex;
        flex-direction: row;
    }
    .main{
        width: auto;
    }
    .btn button{
       
        float: left;
        width: auto;
        
    }
    .btn{
        height: 5vh;
        
    }
    .semain{
        width: auto;
        padding-left: 100px;
    }

   
}
/* @media screen and (max-width: 950px) {


    .semain img{
        width: 100vw;
        
    }

} */
@media screen and (max-width: 680px) {


    .slidebar nav li {

        font-size: 15px;
        padding: 10px 15px;
        margin-top: 10px;
    }

}
@media screen and (max-width: 950px) {


    .semain img{
        width: 60vw;
        
    }

}
@media screen and (max-width: 450px) {


   
    .slidebar nav li {

        font-size: 10px;
        padding: 10px 7px;
        margin-top: 10px;
    }

}