@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=League+Spartan&family=Lora:ital,wght@1,500&family=Open+Sans:ital,wght@0,400;1,300&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=League+Spartan&family=Lora:ital,wght@1,500&family=Source+Code+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}

.slidebar {
    background-color: rgb(206, 201, 201);
    width: 200px;
    font-family: Lora, serif;
    /* height: 100vh; */
    
}
.slidebar nav{
    /* padding: 30px; */
    margin: 0px 3px;
}
.slidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 20px 30px;
    margin-top: 10px;
}
.slidebar nav li a{
    text-decoration: none;
    color: black;
}
.slidebar nav li:hover{
    background-color: white;
    
}
.main {
    /* background-color: yellow; */
    width: 90vw;
    background-color: rgb(242, 248, 252);
}
.title{
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.title h1{
    font-size: 40px;
    /* font-weight: 0.5px;
    font-family: Lora, serif; */
}
.semain{
     display: flex; 
    /* justify-content: center;
    align-items: centre;*/
    
    width: auto;
    padding-left: 150px;
    /* height: 80vh; */ 
}


.btn button{
    width: 12vw;
    height: 5vh;
    float: right;
    margin-right: 18px;
    font-size: 18px;
    padding: 10px 5px;
    border-radius: 5px;
    color: black;
    background-color: dodgerblue;
    border: 0.5px solid black;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}

.btn button:hover{
    
   background-color: white;
    color: dodgerblue;
    
}